<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/common::head"></head>
<head>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="/css/style.css"> <!-- Resource style -->
	<script src="/js/modernizr.js"></script> <!-- Modernizr -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->

	<title>Secondary Sliding Navigation | CodyHouse</title>
</head>

<body>
	<header th:replace="fragments/common::navigation"> </header>
	<main class="cd-main-content">
	<div class="limiter">
		<div class="container-login100">
			<div class="center-register">

				<form th:method="post" th:action="@{/material/add}" th:object="${newMaterialBinding}" class="login100-form validate-form">
					<span class="login100-form-title">
						Add Material
					</span>

					<small th:if="${isNotUnique}" class="error">The material already exits</small>
					<div class="wrap-input100 validate-input" th:classappend="${#fields.hasErrors('materialName')} ? 'alert-validate' : ''" data-validate = "Material Name is required">
						<input th:field="*{materialName}" class="input100" type="text" name="mname" placeholder="Material Name">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-info" aria-hidden="true"></i>
						</span>
					</div>


					<div class="wrap-input100 validate-input" th:classappend="${#fields.hasErrors('date')} ? 'alert-validate' : ''" data-validate = "Valid date is required">
						<input th:field="*{date}" class="input100" type="date" name="date" placeholder="Date">
						<span class="focus-input100"></span>						
						<span class="symbol-input100">
							<i class="fa fa-calendar" aria-hidden="true"></i>
						</span>
					</div>


					<div class="wrap-input100 validate-input" th:classappend="${#fields.hasErrors('singlePrice')} ? 'alert-validate' : ''" data-validate = "Single Price is required">
						<input id="singlePrice" th:field="*{singlePrice}" class="input100" type="number" min="0" step=".01" name="price" placeholder="Single Price">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-dollar" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" th:classappend="${#fields.hasErrors('quantity')} ? 'alert-validate' : ''"  data-validate = "Quantity is required">
						<input id="quantity" th:field="*{quantity}" class="input100" type="number" min="1" name="quantity" placeholder="Quantity">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-plus" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100" >
						<input th:field="*{totalPrice}" class="input100" type="number" step=".01" readonly name="total" placeholder="Total price">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-dollar" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" th:classappend="${#fields.hasErrors('picture')} ? 'alert-validate' : ''" data-validate = "Picture is required">
						<input th:field="*{picture}"  id="img" class="input100" type="file" name="picture" title="">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-image" aria-hidden="true"></i>
						</span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Add Material
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	</main>



	<!--===============================================================================================-->
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/tilt/tilt.jquery.min.js"></script>
	<script>
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
	<!--===============================================================================================-->
	<script src="/js/jquery-2.1.1.js"></script>
	<script src="/js/mainNav.js"></script> <!-- Resource jQuery -->
	<script th:src="@{/js/calclulate.js}"></script>
</body>

</html>