<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/common::head"></head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="center-register">
			
				<form th:action=@{/register} th:method="post" th:object="${newUserBinding}" class="login100-form validate-form">
					<span class="login100-form-title">
						Register
					</span>
					
					<div class="wrap-input100 validate-input" data-validate = "Valid user is required">
						<input th:field="*{firstName}" class="input100" type="text" name="fname" placeholder="First Name">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Valid user is required">
						<input th:field="*{lastName}" class="input100" type="text" name="lname" placeholder="Last Name">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
					</div>

					<small th:if="${isNotUnique}" class="error">The username is not unique</small>
					<div class="wrap-input100 validate-input" th:classappend="${#fields.hasErrors('loginName')} ? 'alert-validate' : ''" data-validate = "Valid user is required">
						<input th:field="*{loginName}" class="input100" type="text" name="username" placeholder="Username">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" th:classappend="${#fields.hasErrors('password')} ? 'alert-validate' : ''" data-validate = "Password is required">
						<input th:field="*{password}" class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					<small th:if="${isNotEquals}" class="error">The passwords are not equals</small>
					<div class="wrap-input100 validate-input" th:classappend="${#fields.hasErrors('confirmPassword')} ? 'alert-validate' : ''" data-validate = "Confirm Password is required">
						<input th:field="*{confirmPassword}" class="input100" type="password" name="confirmPass" placeholder="Confirm Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<small th:if="${isNotUniqueEmail}" class="error">Email is not unique</small>
					<div th:classappend="${#fields.hasErrors('email')} ? 'alert-validate' : ''" class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input th:field="*{email}" class="input100" type="text" name="email" placeholder="Email">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Register
						</button>
					</div>
					
					<div class="container-login100-form-btn">
						<a class="txt2" href="/login">
								Sign in
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				</form>
				
				
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>